<div class="container row">
  <div class="container row">
    <div class="col-sm">
      <p>Banana</p>
      <img class="productos" src="banana.png" />
    </div>
    <div class="col-sm">
      <p>Cebollas</p>
      <img class="productos" src="cebollas.png" />
    </div>
    <div class="col-sm">
      <p>Lechuga</p>
      <img class="productos" src="lechuga.png" />
    </div>
    <div class="col-sm">
      <p>Papas</p>
      <img class="productos" src="papas.png" />
    </div>
    <div class="col-sm">
      <p>Pimentón</p>
      <img class="productos" src="pimenton.png" />
    </div>
    <div class="col-sm">
      <p>tomate</p>
      <img src="tomate.png" />
    </div>
  </div>
</div>